@section META
{
    <title>@ViewData["name"] - C3 Victory Secunderabad</title>
    <meta name="description" content="@ViewData["content"]" />
    <meta name="image" content="@ViewData["smallArt"]" />
    @*<meta name="twitter:creator" content="C3 Victory Secunderabad" />
    <meta name="twitter:description" content="@ViewData["content"]" />
    <meta name="twitter:image" content="@ViewData["smallArt"]" />*@
    <meta name="fb:app_id" content="782858475159073" />
    <meta name="og:url" content="http://c3victory.in/sermon/@ViewData["ID"]" />
    <meta name="og:title" content="@ViewData["name"] - C3 Victory Secunderabad" />
    <meta name="og:site_name" content="C3 Victory Secunderabad" />
    <meta name="og:description" content="@ViewData["About"]" />
    <meta name="og:type" content="article" />
    <meta name="og:image" content="@ViewData["smallArt"]" />
    <meta name="og:image" content="@ViewData["Art"]" />
    <meta name="og:locale" content="en_us" />
}>